# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
#/official_demo/
#/official_example/
#official_demo\Android_3D_Demo

# FVM Version Cache
.fvm/
/official_example/AMap_Android_API_Navi_Demo/android_studio/NaviDemo/.gradle-user/
/official_example/AMap_Android_API_Navi_Demo/android_studio/NaviDemo/.gradle/
/official_example/AMap_Android_API_Navi_Demo/android_studio/NaviDemo/gradle/wrapper/gradle-wrapper.jar
/official_example/AMap_Android_API_Navi_Demo/android_studio/NaviDemo/app/libs/
/official_example/AMap_Android_API_3DMap_Demo/
/official_example/MAMapKit_3D_Demo/
